
// SASS variables for DRY code
$size: 200px;
$space: 20px;
$border-size: 1px;
$petals: 5;
$start-angle: 45deg;
$font-stack: Helvetica, Arial;

/* Container styles */
.container {
  width: $size;
  height: $size;
  border: $border-size solid;
  position: relative;

  & > div {
    position: absolute;
    border-radius: 0 70% 40% 70%;
    border: $border-size solid;
    width: $size *0.6;
    height: $size *0.6;
    margin: $space;
    /* Position these in the center */
    left: 10px;
    top: 50px;
    /* Rotate 45 deg points the point at the top */
    transform: rotate($start-angle);
    /* Move the point of transformation to the lower right */
    transform-origin: 90px 90px;
    animation-duration: 6000ms;
    animation-iteration-count: 1;
    /* Important! Without this the elements will snap
    to their starting positions when the animation ends! */
    animation-fill-mode: forwards;
  }
/* These styles apply to individual children */
  @for $i from 1 through $petals {
    $hue: ($i - 1) * 60;
    & > div:nth-child(#{$i}) {
      animation-name: petal-#{$i};
      background-color: hsla(hue, 100%, 50%, 0.21);
    }
  }

}

/* Style all of the child divs */
/* These styles shared by all children */
// .container > div {

// }


// Petal animation movements
@for $i from 1 through $petals {
  $angle: ($i - 2) * 45deg;
  @keyframes petal-#{$i} {
    0% { transform: rotate(45deg) }
    100% { transform: rotate($angle) }
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  height: 100%;
}
